<template>
  <section>
    <ion-list class="transparent">
      <ion-list-header>
        <ion-label>Seguridad básica</ion-label>
      </ion-list-header>

      <ion-row>
        <ion-modal
          trigger="trigger-cardDeleteAccount"
          :breakpoints="[0.1, 0.5, 1]"
          :initial-breakpoint="0.5"
        >
          <ion-content class="ion-padding">
            <ul v-for="item in information[0].cardPassword" :key="item.content">
              <li>
                {{ item.content }}
              </li>
            </ul>
          </ion-content>
        </ion-modal>

        <ion-col
          size-xs="12"
          size-md="12"
          size-lg="6"
          size-xl="5"
          class="ion-padding-start ion-hide-lg-down"
        >
          <p>Una buena contraseña debe incluir</p>
          <ul v-for="item in information[0].cardPassword" :key="item.content">
            <li>
              {{ item.content }}
            </li>
          </ul>
        </ion-col>

        <ion-col
          size-xs="12"
          size-md="12"
          size-lg="6"
          size-xl="4"
          offset-xl="1"
        >
          <ion-card
            :class="{
              'element-post-selected': updatePasswordCardSelected,
              'element-post-no-selected': !updatePasswordCardSelected,
            }"
            @mouseenter="updatePasswordCardSelected = true"
            @mouseleave="updatePasswordCardSelected = false"
          >
            <ion-card-header>
              <div class="card-header">
                <div class="card-title-container">
                  <ion-card-title style="top: 9px">
                    Cambiar contraseña
                  </ion-card-title>
                </div>
                <div>
                  <ion-button
                    id="trigger-cardDeleteAccount"
                    fill="clear"
                    class="ion-hide-lg-up"
                  >
                    <ion-icon :icon="informationCircleOutline"></ion-icon>
                  </ion-button>
                </div>
              </div>
            </ion-card-header>

            <ion-card-content>
              <ion-item class="transparent">
                <ion-icon
                  slot="start"
                  :icon="keyOutline"
                  class="item-icon"
                ></ion-icon>
                <ion-label position="floating">Contraseña actual</ion-label>
                <ion-input
                  v-model="(v$ as any).form.oldPassword.$model"
                  :type="inputTypePassword1"
                  autocomplete="current-password"
                ></ion-input>
                <ion-button
                  v-if="inputTypePassword1 == 'text'"
                  slot="end"
                  fill="clear"
                  style="margin-top: 20px"
                  @click="inputTypePassword1 = 'password'"
                >
                  <ion-icon :icon="eyeOffOutline"></ion-icon>
                </ion-button>
                <ion-button
                  v-if="inputTypePassword1 == 'password'"
                  slot="end"
                  fill="clear"
                  style="margin-top: 20px"
                  @click="inputTypePassword1 = 'text'"
                >
                  <ion-icon :icon="eyeOutline"></ion-icon>
                </ion-button>
              </ion-item>
              <div
                v-for="(error, index) of (v$ as any).form.oldPassword.$errors"
                :key="index"
              >
                <div class="error">{{ error.$message }}</div>
              </div>

              <ion-item class="transparent">
                <ion-icon
                  slot="start"
                  :icon="keyOutline"
                  class="item-icon"
                ></ion-icon>
                <ion-label position="floating">Contraseña nueva</ion-label>
                <ion-input
                  v-model="(v$ as any).form.newPassword.$model"
                  :type="inputTypePassword2"
                  autocomplete="new-password"
                ></ion-input>
                <ion-button
                  v-if="inputTypePassword2 == 'text'"
                  slot="end"
                  fill="clear"
                  style="margin-top: 20px"
                  @click="inputTypePassword2 = 'password'"
                >
                  <ion-icon :icon="eyeOffOutline"></ion-icon>
                </ion-button>
                <ion-button
                  v-if="inputTypePassword2 == 'password'"
                  slot="end"
                  fill="clear"
                  style="margin-top: 20px"
                  @click="inputTypePassword2 = 'text'"
                >
                  <ion-icon :icon="eyeOutline"></ion-icon>
                </ion-button>
              </ion-item>
              <div
                v-for="(error, index) of (v$ as any).form.newPassword.$errors"
                :key="index"
              >
                <div class="error">{{ error.$message }}</div>
              </div>

              <ion-item class="transparent">
                <ion-icon
                  slot="start"
                  :icon="keyOutline"
                  class="item-icon"
                ></ion-icon>
                <ion-label position="floating">Repetir contraseña</ion-label>
                <ion-input
                  v-model="(v$ as any).form.newPasswordRepeat.$model"
                  :type="inputTypePassword3"
                ></ion-input>
                <ion-button
                  v-if="inputTypePassword3 == 'text'"
                  slot="end"
                  fill="clear"
                  style="margin-top: 20px"
                  @click="inputTypePassword3 = 'password'"
                >
                  <ion-icon :icon="eyeOffOutline"></ion-icon>
                </ion-button>
                <ion-button
                  v-if="inputTypePassword3 == 'password'"
                  slot="end"
                  fill="clear"
                  style="margin-top: 20px"
                  @click="inputTypePassword3 = 'text'"
                >
                  <ion-icon :icon="eyeOutline"></ion-icon>
                </ion-button>
              </ion-item>
              <div
                v-for="(error, index) of (v$ as any).form.newPasswordRepeat
                  .$errors"
                :key="index"
              >
                <div class="error">{{ error.$message }}</div>
              </div>

              <ion-button
                fill="clear"
                :disabled="(v$ as any).form.$invalid"
                expand="full"
                @click="saveUserPassword()"
              >
                <ion-spinner
                  v-if="spinners.saveUserPassword"
                  name="crescent"
                ></ion-spinner>
                <ion-label v-if="!spinners.saveUserPassword">Guardar</ion-label>
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-list>
  </section>
</template>

<script setup lang="ts">
import {
  IonItem,
  IonLabel,
  IonInput,
  IonButton,
  IonSpinner,
  IonModal,
  IonList,
  IonListHeader,
  IonRow,
  IonCol,
  IonIcon,
} from "@ionic/vue";
import { ref } from "vue";
import useVuelidate from "@vuelidate/core";
import { required, helpers, sameAs } from "@vuelidate/validators";
// TODO: pending
// import { updateUserPassword as updateUserPasswordService } from "../../../services/session";
import {
  eyeOutline,
  eyeOffOutline,
  informationCircleOutline,
  keyOutline,
} from "ionicons/icons";

// controllers
import SystemController from "@/controllers/systemController";
import ErrorController from "@/controllers/errorController";
const systemController = new SystemController();
const errorController = new ErrorController();

// vars
const form = ref({
  oldPassword: "",
  newPassword: "",
  newPasswordRepeat: "",
});
const spinners = ref({
  saveUserPassword: false,
});
const inputTypePassword1 = ref("password" as "text" | "password");
const inputTypePassword2 = ref("password" as "text" | "password");
const inputTypePassword3 = ref("password" as "text" | "password");
const information = ref([
  {
    cardPassword: [
      {
        content:
          "El tamaño ideal para una contraseña es de 9 caracteres o más.",
      },
      {
        content: "Debe contener mayúsculas y minúsculas.",
      },
      {
        content: "Debe contener al menos un número.",
      },
    ],
  },
]);

const messageError = {
  required: "Campo requerido",
};
const rules = {
  form: {
    oldPassword: {
      required: helpers.withMessage(messageError.required, required),
    },
    newPassword: {
      required: helpers.withMessage(messageError.required, required),
      minLength: helpers.withMessage(
        "La contraseña debe tener al menos una mayúscula, un numero y tener un tamaño de 8",
        helpers.regex(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$/),
      ),
    },
    newPasswordRepeat: {
      same: helpers.withMessage(
        "Las contraseñas no coinciden",
        sameAs(form.value.newPassword),
      ),
    },
  },
};
const v$ = useVuelidate(rules, { form });
const updatePasswordCardSelected = ref(false);

// functions
async function saveUserPassword() {
  spinners.value.saveUserPassword = true;
  try {
    // await updateUserPasswordService(form.value);
    spinners.value.saveUserPassword = false;
    await systemController.presentToast({
      message: "Contraseña actualizada",
    });
  } catch (e: any) {
    spinners.value.saveUserPassword = false;
    if (e.message == "Wrong password") {
      await systemController.presentToast({
        message: "Contraseña incorrecta",
      });
      return;
    }
    console.error(e);
    errorController.openToastError({ error: e as Error });
  }
}
</script>

<style scoped>
.important-text {
  font-weight: bold;
}
.card-header {
  display: flex;
}
.card-header > .card-title-container {
  flex-basis: 90%;
}
.card-header > .card-title-container > ion-card-title {
  top: 9px;
}
</style>
