ion-button.primary-animation,
ion-button.danger-animation {
  transition:
    box-shadow 300ms ease-in-out,
    color 300ms ease-in-out;
  border-radius: 4px;
}

/* primary */
ion-button.primary-animation {
  color: var(--ion-color-primary);
}
ion-button.primary-animation:hover {
  box-shadow: 0 0 40px 40px var(--ion-color-primary) inset;
  color: var(--ion-color-primary-contrast);
}

/* danger */
ion-button.danger-animation {
  color: var(--ion-color-danger);
}
ion-button.danger-animation:hover {
  box-shadow: 0 0 40px 40px var(--ion-color-danger) inset;
  color: var(--ion-color-danger-contrast);
}
