:root {
  --border-indicator: 8px;
  --background-opacity: 50%;
  --font-family-title: Comfortaa-Bold;
  --font-family-content: OpenSans-Regular;
}

ion-card.no-shadow {
  box-shadow: none;
}

ion-card.shadow-1,
div.shadow-1 {
  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

ion-card.shadow-2,
div.shadow-2 {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

ion-card.shadow-3,
div.shadow-3 {
  box-shadow:
    rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

ion-card {
  border: 1.5px solid transparent;
}

/* success */
.success-base-content-card > ion-card-header > ion-card-title,
.success-base-content-card > ion-card-content > ion-text,
.success-base-content-container > .title-container,
.success-base-content-container > .content-container {
  color: var(--ion-text-color-step-250);
}
.success-base-content-container > .title-container {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 0.6;
  padding-left: 8px;
  font-family: var(--font-family-title);
}
.success-base-content-container > .content-container {
  font-size: 0.875rem;
  padding-left: 8px;
  font-family: var(--font-family-content);
}

/* border */
ion-card.success-border-indicator,
div.success-border-indicator {
  border-left: var(--border-indicator) solid var(--ion-color-success) !important;
  border-radius: 4px;
}

div.success-border-indicator,
div.success-border,
div.success-fill {
  margin: 4px;
  padding: 4px;
}

ion-card.success-border,
div.success-border {
  border: 1px solid var(--ion-color-success);
  border-radius: 4px;
}

ion-card.success-fill,
div.success-fill {
  background: var(--ion-color-secondary-background-hover);
}

/* hover */
ion-card.success-border-hover:hover,
div.success-border-hover:hover {
  border: 1px solid var(--ion-color-success);
  border-radius: 4px;
}

/* end success */

/*  primary */
.primary-base-content-card > ion-card-header > ion-card-title,
.primary-base-content-card > ion-card-content > ion-text,
.primary-base-content-container > .title-container,
.primary-base-content-container > .content-container {
  color: var(--ion-text-color-step-100);
}

.primary-base-content-container > .title-container {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 0.6;
  padding-left: 8px;
  font-family: var(--font-family-title);
}

.primary-base-content-container > .content-container {
  font-size: 0.875rem;
  padding-left: 8px;
  font-family: var(--font-family-content);
}

/* border */
ion-card.primary-border-indicator,
div.primary-border-indicator {
  border-left: var(--border-indicator) solid var(--ion-color-primary) !important;
  border-radius: 4px;
}

div.primary-border-indicator,
div.primary-border,
div.primary-fill {
  margin: 4px;
  padding: 4px;
}

ion-card.primary-border,
div.primary-border {
  border: 1px solid var(--ion-color-primary);
  border-radius: 4px;
}

ion-card.primary-fill,
div.primary-fill {
  background: var(--ion-color-primary-background-hover);
}

/* hover */
ion-card.primary-border-hover:hover,
div.primary-border-hover:hover {
  border: 1px solid var(--ion-color-primary);
  border-radius: 4px;
}
/* end primary */

/* Variantes danger */
.danger-base-content-card > ion-card-header > ion-card-title,
.danger-base-content-card > ion-card-content > ion-text,
.danger-base-content-container > .title-container,
.danger-base-content-container > .content-container {
  color: var(--ion-text-color-step-250);
}

.danger-base-content-container > .title-container {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 0.6;
  padding-left: 8px;
  font-family: var(--font-family-title);
}

.danger-base-content-container > .content-container {
  font-size: 0.875rem;
  padding-left: 8px;
  font-family: var(--font-family-content);
}

/* border */
ion-card.danger-border-indicator,
div.danger-border-indicator {
  border-left: var(--border-indicator) solid var(--ion-color-danger) !important;
  border-radius: 4px;
}

div.danger-border-indicator,
div.danger-border,
div.danger-fill {
  margin: 4px;
  padding: 4px;
}

ion-card.danger-border,
div.danger-border {
  border: 1.5px solid var(--ion-color-danger);
  border-radius: 4px;
}

ion-card.danger-fill,
div.danger-fill {
  background: var(--ion-color-danger-background-hover);
}

/* hover */
ion-card.danger-border-hover:hover,
div.danger-border-hover:hover {
  border: 1.5px solid var(--ion-color-danger);
  border-radius: 4px;
}
/* end danger */

/* Variantes warning */
.warning-base-content-card > ion-card-header > ion-card-title,
.warning-base-content-card > ion-card-content > ion-text,
.warning-base-content-container > .title-container,
.warning-base-content-container > .content-container {
  color: var(--ion-text-color-step-250);
}

.warning-base-content-container > .title-container {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 0.6;
  padding-left: 8px;
  font-family: var(--font-family-title);
}

.warning-base-content-container > .content-container {
  font-size: 0.875rem;
  padding-left: 8px;
  font-family: var(--font-family-content);
}

/* border */
ion-card.warning-border-indicator,
div.warning-border-indicator {
  border-left: var(--border-indicator) solid var(--ion-color-warning) !important;
  border-radius: 4px;
}

div.warning-border-indicator,
div.warning-border,
div.warning-fill {
  margin: 4px;
  padding: 4px;
}

ion-card.warning-border,
div.warning-border {
  border: 1.5px solid var(--ion-color-warning);
  border-radius: 4px;
}

ion-card.warning-fill,
div.warning-fill {
  background: var(--ion-color-warning-background-hover);
}

/* hover */
ion-card.warning-border-hover:hover,
div.warning-border-hover:hover {
  border: 1.5px solid var(--ion-color-warning);
  border-radius: 4px;
}
/* end danger */
