::-webkit-scrollbar {
  width: 7px !important;
  height: 7px !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-track:hover {
  background: var(--ion-background-color) !important;
}

::-webkit-scrollbar-thumb {
  background: var(--ion-color-secondary) !important;
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--ion-color-secondary) !important;
}

::-webkit-scrollbar-thumb:active {
  background: var(--ion-color-primary) !important;
}
