:root {
  --background: var(--ion-background-color);
}
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/* primary */
ion-card.primary-select-border:hover,
ion-card.primary-select-border-active {
  border: 1.5px solid var(--ion-color-primary);
  border-radius: 4px;
}

ion-card.primary-select-background {
  background: var(--ion-color-primary-background-hover) !important;
}

ion-card.primary-select-animated:hover,
ion-card.primary-select-animated-active {
  background:
    linear-gradient(var(--background), var(--background)) padding-box,
    padding-box,
    linear-gradient(
        var(--angle),
        rgba(var(--ion-color-primary-rgb), 0%),
        rgba(var(--ion-color-primary-rgb), 20%),
        rgba(var(--ion-color-primary-rgb), 40%),
        rgba(var(--ion-color-primary-rgb), 60%),
        rgba(var(--ion-color-primary-rgb), 80%),
        rgba(var(--ion-color-primary-rgb), 100%)
      )
      border-box;
  animation: 2.5s rotate linear infinite;
}

/* success */
ion-card.success-select-border:hover,
ion-card.success-select-border-active {
  border: 4px solid var(--ion-color-success);
  border-radius: 4px;
}

ion-card.success-select-background {
  background: var(--ion-color-secondary-background-hover) !important;
}

ion-card.success-select-animated:hover,
ion-card.success-select-animated-active {
  background:
    linear-gradient(var(--background), var(--background)) padding-box,
    linear-gradient(var(--angle), #e8fbed, #bdf3c7, #7ce68e, #4fdb74, #2dd55b)
      border-box;
  animation: 2.5s rotate linear infinite;
}

/* danger */
ion-card.danger-select-border:hover,
ion-card.danger-select-border-active {
  border: 4px solid var(--ion-color-danger);
  border-radius: 4px;
}

ion-card.danger-select-background {
  background: var(--ion-color-danger-background-hover) !important;
}

ion-card.danger-select-animated:hover,
ion-card.danger-select-animated-active {
  background:
    linear-gradient(var(--background), var(--background)) padding-box,
    linear-gradient(var(--angle), #ffb3b6, #ff8c90, #f66066, #ed333b, #d41e26)
      border-box;
  animation: 2.5s rotate linear infinite;
}
