.fade-transition-enter-active,
.fade-transition-leave-active {
  transition: all 0.3s ease;
}

.fade-transition-enter-from {
  opacity: 0;
  transform: translateX(30px);
}

.fade-transition-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}
