.light {
  --ion-color-primary: #3dade9;
  --ion-color-primary-rgb: 61, 173, 233;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3698cd;
  --ion-color-primary-tint: #50b5eb;

  --ion-color-secondary: #3584e4;
  --ion-color-secondary-rgb: 53, 132, 228;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #2f74c9;
  --ion-color-secondary-tint: #4990e7;

  --ion-color-tertiary: #6030ff;
  --ion-color-tertiary-rgb: 96, 48, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #542ae0;
  --ion-color-tertiary-tint: #7045ff;

  --ion-color-success: #2dd55b;
  --ion-color-success-rgb: 45, 213, 91;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28bb50;
  --ion-color-success-tint: #42d96b;

  --ion-color-warning: #ff7800;
  --ion-color-warning-rgb: 255, 120, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e06a00;
  --ion-color-warning-tint: #ff861a;

  --ion-color-danger: #ed333b;
  --ion-color-danger-rgb: 237, 51, 59;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d12d34;
  --ion-color-danger-tint: #ef474f;

  --ion-color-light: #f6f5f4;
  --ion-color-light-rgb: 246, 245, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d8d8d7;
  --ion-color-light-tint: #f7f6f5;

  --ion-color-medium: #5e5c64;
  --ion-color-medium-rgb: 94, 92, 100;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #535158;
  --ion-color-medium-tint: #6e6c74;

  --ion-color-dark: #241f31;
  --ion-color-dark-rgb: 36, 31, 49;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #201b2b;
  --ion-color-dark-tint: #3a3546;

  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255, 255, 255;

  --ion-text-color: #000000;
  --ion-text-color-rgb: 0, 0, 0;

  --ion-text-color-step-50: #0d0d0d;
  --ion-text-color-step-100: #1a1a1a;
  --ion-text-color-step-150: #262626;
  --ion-text-color-step-200: #333333;
  --ion-text-color-step-250: #404040;
  --ion-text-color-step-300: #4d4d4d;
  --ion-text-color-step-350: #595959;
  --ion-text-color-step-400: #666666;
  --ion-text-color-step-450: #737373;
  --ion-text-color-step-500: #808080;
  --ion-text-color-step-550: #8c8c8c;
  --ion-text-color-step-600: #999999;
  --ion-text-color-step-650: #a6a6a6;
  --ion-text-color-step-700: #b3b3b3;
  --ion-text-color-step-750: #bfbfbf;
  --ion-text-color-step-800: #cccccc;
  --ion-text-color-step-850: #d9d9d9;
  --ion-text-color-step-900: #e6e6e6;
  --ion-text-color-step-950: #f2f2f2;

  --ion-background-color-step-50: #f2f2f2;
  --ion-background-color-step-100: #e6e6e6;
  --ion-background-color-step-150: #d9d9d9;
  --ion-background-color-step-200: #cccccc;
  --ion-background-color-step-250: #bfbfbf;
  --ion-background-color-step-300: #b3b3b3;
  --ion-background-color-step-350: #a6a6a6;
  --ion-background-color-step-400: #999999;
  --ion-background-color-step-450: #8c8c8c;
  --ion-background-color-step-500: #808080;
  --ion-background-color-step-550: #737373;
  --ion-background-color-step-600: #666666;
  --ion-background-color-step-650: #595959;
  --ion-background-color-step-700: #4d4d4d;
  --ion-background-color-step-750: #404040;
  --ion-background-color-step-800: #333333;
  --ion-background-color-step-850: #262626;
  --ion-background-color-step-900: #191919;
  --ion-background-color-step-950: #0d0d0d;
}

:root {
  /* primary hover */
  --ion-color-primary-background-hover: #3dade933;
  --ion-color-primary-background-hover-rgb: 173, 233, 51;
  --ion-color-primary-background-hover-contrast: #000000;
  --ion-color-primary-background-hover-contrast-rgb: 0, 0, 0;
  --ion-color-primary-background-hover-shade: #98cd2d;
  --ion-color-primary-background-hover-tint: #b5eb47;

  /* secondary hover */
  --ion-color-secondary-background-hover: #2dd55b33;
  --ion-color-secondary-background-hover-rgb: 213, 91, 51;
  --ion-color-secondary-background-hover-contrast: #000000;
  --ion-color-secondary-background-hover-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-background-hover-shade: #bb502d;
  --ion-color-secondary-background-hover-tint: #d96b47;

  /* danger */
  --ion-color-danger-background-hover: #ed333b3d;
  --ion-color-danger-background-hover-rgb: 51, 59, 61;
  --ion-color-danger-background-hover-contrast: #ffffff;
  --ion-color-danger-background-hover-contrast-rgb: 255, 255, 255;
  --ion-color-danger-background-hover-shade: #2d3436;
  --ion-color-danger-background-hover-tint: #474f50;
}

.light {
  /* primary hover */
  --ion-color-base: var(--ion-color-primary-background-hover);
  --ion-color-base-rgb: var(--ion-color-primary-background-hover-rgb);
  --ion-color-contrast: var(--ion-color-primary-background-hover-contrast);
  --ion-color-contrast-rgb: var(
    --ion-color-primary-background-hover-contrast-rgb
  );
  --ion-color-shade: var(--ion-color-primary-background-hover-shade);
  --ion-color-tint: var(--ion-color-primary-background-hover-tint);

  /* secondary hover */
  --ion-color-base: var(--ion-color-secondary-background-hover);
  --ion-color-base-rgb: var(--ion-color-secondary-background-hover-rgb);
  --ion-color-contrast: var(--ion-color-secondary-background-hover-contrast);
  --ion-color-contrast-rgb: var(
    --ion-color-secondary-background-hover-contrast-rgb
  );
  --ion-color-shade: var(--ion-color-secondary-background-hover-shade);
  --ion-color-tint: var(--ion-color-secondary-background-hover-tint);

  /* danger hover */
  --ion-color-base: var(--ion-color-danger-background-hover);
  --ion-color-base-rgb: var(--ion-color-danger-background-hover-rgb);
  --ion-color-contrast: var(--ion-color-danger-background-hover-contrast);
  --ion-color-contrast-rgb: var(
    --ion-color-danger-background-hover-contrast-rgb
  );
  --ion-color-shade: var(--ion-color-danger-background-hover-shade);
  --ion-color-tint: var(--ion-color-danger-background-hover-tint);
}
