.nord {
  --ion-color-primary: #5e81ac;
  --ion-color-primary-rgb: 94, 129, 172;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #537297;
  --ion-color-primary-tint: #6e8eb4;

  --ion-color-secondary: #81a1c1;
  --ion-color-secondary-rgb: 129, 161, 193;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #728eaa;
  --ion-color-secondary-tint: #8eaac7;

  --ion-color-tertiary: #88c0d0;
  --ion-color-tertiary-rgb: 136, 192, 208;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #78a9b7;
  --ion-color-tertiary-tint: #94c6d5;

  --ion-color-success: #a3be8c;
  --ion-color-success-rgb: 163, 190, 140;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #8fa77b;
  --ion-color-success-tint: #acc598;

  --ion-color-warning: #d08770;
  --ion-color-warning-rgb: 208, 135, 112;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #b77763;
  --ion-color-warning-tint: #d5937e;

  --ion-color-danger: #bf616a;
  --ion-color-danger-rgb: 191, 97, 106;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #a8555d;
  --ion-color-danger-tint: #c57179;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-background-color: #3b4252;
  --ion-background-color-rgb: 59, 66, 82;

  --ion-background-light-color: #434c5e;
  --ion-background-light-color-rgb: 60, 76, 94;

  --ion-background-dark-color: #2e3440;
  --ion-background-dark-color-rgb: 29, 32, 33;

  --ion-text-color: #eceff4;
  --ion-text-color-rgb: 236, 239, 244;

  --ion-text-color: #d8dee9;
  --ion-text-color-rgb: 216, 222, 233;

  --ion-color-step-50: #434a5a;
  --ion-color-step-100: #4b5261;
  --ion-color-step-150: #535969;
  --ion-color-step-200: #5a6170;
  --ion-color-step-250: #626978;
  --ion-color-step-300: #6a717f;
  --ion-color-step-350: #727987;
  --ion-color-step-400: #7a808e;
  --ion-color-step-450: #828896;
  --ion-color-step-500: #8a909e;
  --ion-color-step-550: #9198a5;
  --ion-color-step-600: #99a0ad;
  --ion-color-step-650: #a1a7b4;
  --ion-color-step-700: #a9afbc;
  --ion-color-step-750: #b1b7c3;
  --ion-color-step-800: #b9bfcb;
  --ion-color-step-850: #c0c7d2;
  --ion-color-step-900: #c8ceda;
  --ion-color-step-950: #d0d6e1;

  --wallpaper-main-content: url("../assets/otros/nord-wallpaper1.png");
  --wallpaper-opacity: 0.2;
  --blur-color-opacity: 0.2;
  --blur: 30px;
}
