/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

/* themes */
@import url("./light.css");
/* @import url("./gruvbox.css");
@import url("./nord.css"); */
@import url("./styles/scrollbar.css");

/* others */
@import url("./styles/cards.css");
@import url("./styles/buttons-animation.css");
@import url("./styles/selectectable-animated.css");
@import url("./styles/progress-bar.css");
@import url("./styles/transitions.css");
@import url("./styles/hr.css");

@font-face {
  font-family: "OpenSans-Regular";
  src: url("@/assets/fonts/open_sans/static/OpenSans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSans-Medium";
  src: url("@/assets/fonts/open_sans/static/OpenSans/OpenSans-Medium.ttf");
}
@font-face {
  font-family: "Comfortaa-Bold";
  src: url("@/assets/fonts/comfortaa/Comfortaa-Bold.ttf");
}
@font-face {
  font-family: "Comfortaa-Light";
  src: url("@/assets/fonts/comfortaa/Comfortaa-Light.ttf");
}

/* text */
h1,
h2,
h3,
h4,
h5,
h6,
ion-title {
  font-family: Comfortaa-Bold;
}

ol,
ul {
  font-family: OpenSans-Regular !important;
  font-size: 1.2rem !important;
  line-height: 2em !important;
}

ion-text,
ion-label,
p {
  font-family: OpenSans-Regular;
  line-height: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
  color: var(--ion-text-color);
}

.text-small {
  /* color: var(--ion-text-color); */
  font-family: OpenSans-Regular !important;
  font-size: 14px !important;
}
.text-medium {
  /* color: var(--ion-text-color); */
  font-family: OpenSans-Regular !important;
  font-size: 16px !important;
}

.transparent {
  --background: transparent;
  background: transparent;
}
.center {
  display: flex;
  justify-content: center;
}
.center-vertical {
  display: flex;
  align-items: center;
}
.error {
  color: var(--ion-color-danger);
}

.section-options > ion-row {
  height: 58px;
}

.fade-in-title {
  animation: fade-in-animation 1s ease-in;
}

@keyframes fade-in-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page-container {
  height: 97%;
  background-color: var(--ion-color-dark-contrast);
  --background: var(--ion-color-dark-contrast);
  margin: 10px;
  border-radius: 4px;
}
.page-container > ion-header > ion-toolbar,
.condensed-toolbar {
  --background: transparent;
}

ion-item {
  border-radius: 4px;
}

ion-app,
ion-menu {
  background-color: var(--ion-background-color-step-50);
  --background: var(--ion-background-color-step-50);
}

.list-md {
  /* box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  border-radius: 4px;
  padding: 4px;
  /* background: var(--ion-background-color-step-50) !important; */
}

ion-modal {
  --border-radius: 4px;
}

ion-list.border > div {
  border: 1px solid var(--ion-background-color-step-50);
  border-radius: 4px;
}
