<template>
  <ion-header class="ion-no-border" mode="ios">
    <ion-toolbar class="container-page">
      <ion-buttons slot="start" :mode="designMode">
        <ion-menu-button menu="mainMenu" :mode="designMode"></ion-menu-button>
      </ion-buttons>

      <ion-title>{{ pageTitle }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-row
      class="ion-justify-content-center"
      style="display: flex; overflow: auto; max-height: calc(100% - 8dvh)"
    >
      <ion-col size-xs="12" size-sm="8" size-lg="6">
        <ion-row>
          <ion-col
            v-for="(certificate, indexCertificate) in certificates"
            :key="indexCertificate"
            size-xs="12"
            size-md="6"
            size-lg="6"
          >
            <ion-card
              class="shadow-1"
              style="cursor: pointer"
              @click="
                indexCertificateSeleted = indexCertificate;
                modals.modalInfoExperience.open = true;
                openUrl({
                  url: certificate.url,
                });
              "
            >
              <ion-card-header>
                <div style="display: flex; justify-content: space-between">
                  <img :src="certificate.img" alt="" style="height: 45px" />
                </div>

                <ion-card-title>
                  {{ certificate.title }}
                </ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <ion-row>
                  <ion-col size="10" style="display: flex">
                    <div
                      v-for="(tech, techIndex) in certificate.aptitudes"
                      :key="techIndex"
                      style="
                        display: flex;
                        align-items: center;
                        margin-right: 10px;
                      "
                    >
                      <img
                        v-if="tech.type === 'img'"
                        :src="tech.source"
                        :alt="tech.name"
                        :style="{ width: tech.size }"
                      />

                      <ion-icon
                        v-if="tech.type == 'icon'"
                        :style="{
                          fontSize: tech.size,
                          color: getIconColorByName({ name: tech.name }),
                        }"
                        :icon="tech.source"
                      ></ion-icon>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- modals -->
    <!-- modal more experience information -->
    <!-- end modals -->

    <!-- popovers -->
    <!-- end popovers -->
  </ion-content>
</template>

<script setup lang="ts">
import { IonSelect, IonSelectOption } from "@ionic/vue";
import { reactive, ref } from "vue";
import { logoJavascript } from "ionicons/icons";

// props component
// end props component

// interface
import { DesignMode } from "@/utils/types";
// end interface

// media
import SkilValueLogo from "@/assets/otros/skillvalue.svg";

// componentes
import SystemController from "@/controllers/systemController";
const systemController = new SystemController();
// end componentes

// life
// end life

// vars
const designMode = ref<DesignMode>(systemController.getdesignMode());
const typeContent = ref<"all" | "personal" | "professional">("professional");
const pageTitle = "Certificados";
const screenSize = ref(systemController.getScreenSize());
const certificates = [
  {
    img: SkilValueLogo,
    title: "SkillValue",
    url: "https://skillvalue.com/en/certificate/4xHm8KSctkDyB5V8SBWzvOBsCZXBKRAZL65rDKazVAV4EPs09nUUvtx9bHki",
    aptitudes: [
      {
        source: logoJavascript,
        name: "JavaScript",
        type: "icon",
        size: "18px",
      },
    ],
  },
];
const modals = reactive({
  modalInfoExperience: { open: false },
});
const indexCertificateSeleted = ref(-1);
const popovers = reactive({
  popoverModalProjectOptions: { open: false, event: null },
});
// end vars

// functions
function openUrl(params: { url: string }) {
  const { url } = params;
  window.open(url, "_blank");
}

function getIconColorByName(params: { name: string }) {
  const { name } = params;
  const colors: { [key: string]: string } = {
    Ionic: "#3356c7",
    Vue: "#41b883",
    Laravel: "#ff2819",
    Firebase: "#ffca28",
    Capacitorjs: "#119eff",
    Electronjs: "#47848f",
    Web: "#3356c7",
    Linux: "#000000",
    PWA: "#5905c8",
    Android: "#44ac5a",
    Windows: "#0078d4",
    JavaScript: "#f0db4f",
  };
  return colors[name] || "";
}
</script>

<style scoped>
.container {
  width: 60%;
}
</style>
